*:focus {
	box-shadow: none !important;
}

.datePickerStyle {
	width: 220px;
	margin-left: auto;
	margin-right: auto;
}

.datepicker {
	position: absolute !important;
	bottom: -100px !important;
}

form {
	width: 100% !important ;
	min-height: 100% !important;
}
